.Destinationhero{
    background-image: url('../assets/destinationhero1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inset-0{
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  .destination-input {
    width: 95%;
    display: flex;
    justify-content: center;

}

@media (min-width: 640px) {
    .destination-input {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .destination-input {
        width: 60%;
    }
}
.custum-input {
    outline: 0.5px;
    transition: border-color 0.3s ease;
}

.custum-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 2px dodgerblue;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.no-outline:focus{
    outline: none !important;
    box-shadow: none !important;

}

.no-outline:hover{
    background-color: gainsboro;
}

/* Remove the pointing triangle of the overlay panel */
.p-overlaypanel::before {
    display: none; /* This hides the triangle */
}

.p-overlaypanel::after {
    display: none; /* This hides the triangle */
}
.custom-overlaypanel {
    margin-top: 3px; /* Increase this value to adjust the gap */
    z-index: 50 !important;
    
}