.main-home {
    padding-top: 120px;
}

.btn-card-desktop {
    width: 120%;
    position: relative;
    left: 0;
    bottom: 0;
    
}

.btn-card-destination {
    width: 100%;
    display: flex;
    justify-content: center; 
    transform: translateY(50%);
   
}

@media (min-width: 640px) {
    .btn-card-destination {
    width: 80%;
    }
}

@media (min-width: 1024px){
    .btn-card-destination {
        width: 60%;
    }
}

.scalex-1 {
    transform: scaleX(-1);
}

.custum-input{
    outline: 0.5px;
    transition: border-color 0.3s ease;
}

.custum-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 2px dodgerblue;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}



