.packageshero{
    background-image: url('../assets/packageshero2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.inset-0{
    top:0;
    bottom:0;
    left:0;
    right:0;
  }

  .packages-input {
    width: 95%;
    display: flex;
    justify-content: center;

}

@media (min-width: 640px) {
    .packages-input {
        width: 80%;
    }
}

@media (min-width: 1024px) {
    .packages-input {
        width: 60%;
    }
}
.custum-input {
    outline: 0.5px;
    transition: border-color 0.3s ease;
}

.custum-input:focus {
    border-color: dodgerblue;
    box-shadow: 0 0 2px dodgerblue;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.line-clamp {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}