.custom-input {
    padding: 8px;
    border: 1px solid gray;
    border-radius: 4px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .custom-input:focus {
     border-color: dodgerblue;
    box-shadow: 0 0 4px dodgerblue;

  }
  


