@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.responsive {
    padding-left: 10px;
    padding-right: 10px;
  }
  
  @media (min-width: 640px) { /* Tablet */
    .responsive {
      padding-left: 40px;
      padding-right: 40px;
    }
  }
  
  @media (min-width: 1024px) { /* Laptop */
    .responsive {
      padding-left: 100px;
      padding-right: 100px;
    }
  }
  
  @media (min-width: 1280px) { /* Large Screen */
    .responsive {
      padding-left: 150px;
      padding-right: 150px;
    }
  }


  
.fluid-responsive {
  margin-left: 0px;
  margin-right: 0px;
}

.fluid-responsive > .destination-section:first-child {
  border-radius: 0px;
}

/* Tablet */
@media (min-width: 640px) { 
  .fluid-responsive {
    margin-left: 40px;
    margin-right: 40px;
  }

  .fluid-responsive > .destination-section:first-child {
    border-radius: 24px;
  }
}

@media (min-width: 1024px) { /* Laptop */
  .fluid-responsive {
    margin-left: 100px;
    margin-right: 100px;
  }
  .fluid-responsive > .destination-section:first-child {
    border-radius: 24px;
  }
}

@media (min-width: 1280px) { /* Large Screen */
  .fluid-responsive {
    margin-left: 150px;
    margin-right: 150px;
  }
  .fluid-responsive > .destination-section:first-child {
    border-radius: 24px;
  }
}